<h1>My Links</h1>

<h3>Submit a New Link:</h3>
<div id="new-link-form">
  <%= form_for :link do |f| %>
  <%= f.text_field :title, placeholder: "Title" %>
  <%= f.url_field :url, placeholder: "URL" %>
  <%= f.submit "Save" %>
  <% end %>
</div>

<h3>Current Links</h3>
<div id='results'>
  <table id='links-table'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Url</th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |link| %>
      <tr>
        <td><%= link.title %></td>
        <td><%= link.url %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
