<h4><%= link_to 'Logout', logout_path, method: :delete %></h4>

<h1>My Links</h1>

<h3>Submit a New Link:</h3>
<div id="new-link-form">
  <%= form_for :link do |f| %>
  <%= f.text_field :title, placeholder: "Title" %>
  <%= f.url_field :url, placeholder: "URL" %>
  <%= f.submit "Save" %>
  <% end %>
</div>


<h3>Current Links</h3>
<div class='form-group text-center well'>
  <form id='search-ideas' class="ui-filterable">
    <label>Search:</label>
    <input id="linkFilter" data-type="search">
  </form>
</div>
<br>
<div id='results'>
  <table id='links-table'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Url</th>
        <th>Read</th>
        <th>Change Status</th>
        <th>Edit Link</th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |link| %>
      <tr class='stuff' data-user-id=<%= current_user.id %> data-link-id=<%= link.id %>>
        <td class='link-title'><%= link.title %></td>
        <td class='link-url'><%= link.url %></td>
        <td class='link-read-status'><%= link.read %></td>
        <td><%= check_link_status(link.read) %></td>
        <td class='edit-link'><p><%= link_to 'Edit', edit_link_path(link) %></p></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
