<h4><%= link_to 'Logout', logout_path, method: :delete %></h4>

<h1>My Links</h1>

<h4>Submit a New Link:</h4>
<div id="new-link-form">
  <%= form_for :link do |f| %>
  <%= f.text_field :title, placeholder: "Title" %>
  <%= f.url_field :url, placeholder: "URL" %>
  <%= f.submit "Save" %>
  <% end %>
</div>
<br>

<h4>Filter By:</h4>
<div id='filter-by-status'>
  <button id='show-all'>All</button>
  <button id='show-only-read'>Read</button>
  <button id='show-only-unread'>Unread</button>
</div>
<br>

<h4>Sort in Alphabetical Order:</h4>
<div id='alphabetic-sort'>
  <button id='alphabetic-sort-button' >Alphabetic Sort</button>
</div>
<br>
<br>

<div class='form-group text-center well'>
  <form id='search-ideas' class="ui-filterable">
    <label>Search Current Links:</label>
    <input id="linkFilter" data-type="search">
  </form>
</div>
<br>
<br>

<div id='results'>
  <table id='links-table'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Url</th>
        <th>Read</th>
        <th>Change Status</th>
        <th>Edit Link</th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |link| %>
      <tr class='link' data-user-id=<%= current_user.id %> data-link-id=<%= link.id %>>
        <td class="link-title"><%= link.title %></td>
        <td class="link-url<%= ' read-link' if link.read %>"><%= link_to link.url, link.url, class: 'link-text' %></td>
        <td class='link-read-status'><%= link.read %></td>
        <td><%= check_link_status(link.read) %></td>
        <td class='edit-link'><p><%= link_to 'Edit', edit_link_path(link) %></p></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
