<h1>My Links</h1>

<h3>Submit a New Link:</h3>
<div id="new-link-form">
  <%= form_for :link do |f| %>
    <%= f.text_field :title, placeholder: "Title" %>
    <%= f.url_field :url, placeholder: "URL" %>
    <%= f.submit "Save" %>
  <% end %>
</div>

<!-- <div id='new-link-form' class='form-group text-center well'>
  <h4>Submit a New Link:</h4>
  <form id="create-link">
    <div class="field">
      <label for="title">Title:</label>
      <input type="text" id="link-title" name="link[title]" required>
    </div>

    <div class="field">
      <label for="url">URL:</label>
      <textarea id="link-url" name="link[url]" required></textarea>
    </div>

    <div class="field">
      <button type="submit" id="save-new-link">Save</button>
    </div>
  </form>
</div> -->

<div id='results'>
  <table data-filter='true' data-input'#linkFilter' class='table table-striped table-bordered table-condensedid' id='links-table'>
    <thead>
      <tr>Title</tr>
      <tr>Url</tr>
    </thead>
    <tbody>
      <%= @links.each do |link| %>
        <tr><%= link.title %></tr>
        <tr><%= link.url %></tr>
      <% end %>
    </tbody>
  </table>
</div>
